
header {
  background-color: #333;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.subheader {
  background-color: #444;
  color: #d4d776de;
  text-decoration: underline;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  padding: 8px 0;
  text-align: center;
}

header {
  background-image: url('paint-colorful-background_68067-7206.jpg'); 
  background-size: cover;
  background-position: center;
}

body {
  background-image: url('modern-printing-press-creates-colorful-documents-indoors-free-photo.jpg'); 
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container2 {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #9a9ba8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 18px;
  border-bottom: 1px solid #ccc;
}
li:last-child {
  border-bottom: none;
}


