@font-face {
  font-family: 'sli';
  src: url('../font/Simple-Line-Icons.eot?v=2.2.2');
  src: url('../font/Simple-Line-Icons.ttf?v=2.2.2') format('truetype'), url('../font/Simple-Line-Icons.woff2?v=2.2.2') format('woff2'), url('../font/Simple-Line-Icons.woff?v=2.2.2') format('woff'), url('../font/Simple-Line-Icons.svg?v=2.2.2#simple-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

